@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Laila:wght@300;400;500;600;700&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
body{
    background-color: #E6E6E6;
}
header{
    height: 190px;
    .navbar-dark{
        height: 150px;
        .container{
            height: 100%;
        }
        a,img{
            height: 100%;
        }
        .navbar-toggler{
            background-color: #1E1E1E;

        }
        .navbar-collapse{
            a{
                font-size: 30px;
                color: #1E1E1E;
                text-decoration: none;
                @media (max-width:992px) {
                    width: 100%;
                    text-align: end;
                    font-size: 20px;
                    margin: 0 5px;
                }
            }
        }
    }
    @media (min-width:992px) {
        .navbar-expand-lg{
            .navbar-collapse{
                gap: 50px;
                display: flex!important;
                flex-basis: auto;
                justify-content: flex-end;
            }
        }
    }
}
footer{
    margin-top: 40px;
    p{
        font-family: "Kantumruy Pro", sans-serif;
        text-align: center;
        margin-bottom: 5px;
        color: #1E1E1E;
    }
    .separator{
        border-bottom: 1px white solid;
    }
    .contacto{
        margin: 10px 0;
        .row{
            justify-content: center;
            align-items: center;
            gap: 20px;
            .instagram,.gmail,.linkedin,.whatsapp{
                text-align: center;
            }
            @media (min-width:992px) {
                .whatsapp img{
                    margin-left: 20px;
                }
            }
            @media (max-width:992px) {
                .instagram,.gmail,.linkedin,.whatsapp{
                    padding: 0;
                    img{
                        width: 100%;
                        aspect-ratio: 1;
                    }
                }
            }
        }
    }
}
body.index{
    animation-name: contacto;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 0;
    .titulo{
        margin-bottom: 50px;
        align-items: center;
        min-height: 470px;
        .texto{
            h1{
                font-family: "Lekton", sans-serif;
                font-size: 85px;
                color: #1E1E1E;
            }
            .name{
                transform: translateX(-3000px);
                animation-name: titulo;
                animation-duration: 2s;
                animation-fill-mode: forwards;
            }
            .soft{
                transform: translateX(-3000px);
                animation-name: titulo;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-delay: 1s;
            }
            .dev{
                transform: translateX(-3000px);
                animation-name: titulo;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-delay: 2s;
            }
        }
        .imagen-central{
            height: 100%;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media (max-width:992px) {
    body.index{
        .titulo{
            .texto{
                h1{
                    font-size: 55px;
                }
            }
            .imagen-central{
                img{
                    width: 100%;
                }
            }
        }
    }
}
@keyframes titulo {

    100%{
        transform: translateX(0px);
    }
}
@keyframes opacity {

    100%{
        opacity: 1;
    }
}
body.about{
    opacity: 0;
    animation-name: opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    .txt-img{
        align-items: center;
        .imagen{
            overflow: hidden;
            img{
                width: 100%;
               
            }  
        }
        .texto{
            text-align: center;
            
            p{
                font-family: "Laila", serif;
                font-size: 23px;
                text-align: start;
                margin-bottom: 20px;
                color: #1E1E1E;
                @media (max-width:992px) {
                    font-size: 18px;
                }
            }
            a{
                text-align: center;
                background-color: #6B6B6B;
                color: #F9F9F9;
                font-size: 27px;
                border: 0;
                border-radius: 15px;
                padding: 10px 20px;
                text-decoration: none;
                &:hover{
                    background-color: transparent;
                    color: #1E1E1E;
                    border: 3px solid #1E1E1E;
                }
                @media (max-width:992px) {
                    font-size: 20px;
                }
            }
        }
        @media (max-width:992px) {
            .imagen{
                text-align: center; 
                margin-bottom: 25px;
                img{
                    height: 100%;
                    width: 70%;
                }
             }
        }
    }
}
body.saber-mas{
    animation-name: contacto;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 0;
    .texto-inicial{
        p{
            font-family: "Laila", serif;
            font-size: 23px;
            color: #1E1E1E;
            @media (max-width:992px) {
                font-size: 18px;
            }
        }
    }
    .logos{
        min-height: 350px;
        align-items: center;
        .imgs{
            @media (max-width:1200px) {
                margin-bottom: 30px;
            }
            @media (max-width:992px) {
                margin-bottom: 0px;
            }
            img{
                width: 100%;
                height: 260px;
                object-fit: contain;
                animation-name: imagenes;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                transform: translateX(3000px);
            }
            .js{
                animation-name: imagenes;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                transform: translateX(3000px);
            }
            .ts{
                animation-name: imagenes;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                transform: translateX(3000px);
                animation-delay: 0.5s;
            }
            .css{
                animation-name: imagenes;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                transform: translateX(3000px);
                animation-delay: 1s;
            }
            .html{
                animation-name: imagenes;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                transform: translateX(3000px);
                animation-delay: 1.5s;
            }
        }
    }
    .curriculum{
        width: max-content;
        margin: 30px auto;
        border-bottom: 2px solid #1E1E1E;
        padding-bottom: -2px;
        a{
            font-size: 23px;
            text-decoration: none;
            color: #1E1E1E;
        }
        &:hover{
            border-bottom: 2px solid #6B6B6B;
            a{
                color: #6B6B6B;
            }
        }
    }
}
@keyframes imagenes {

    100%{
        transform: translateX(0px);
    }
}
body.projectos{
    animation-name: contacto;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 0;
    .columnas{
        .row{
            justify-content: space-around;
            .columna{
                margin-bottom: 40px;
                img{
                    width: 100%;
                    opacity: 0;
                    view-timeline-name: --image;
                    view-timeline-axis: block;

                    animation-timeline: --image;
                    animation-name: show;

                    animation-range: entry 25% cover 30%;
                    animation-fill-mode: both;
                }
                a{
                    font-size: 26px;
                    font-weight: 500;
                    color: #1E1E1E;
                    text-decoration: none;
                    margin-top: 5px;
                    display: block;
                    margin-bottom: 8px;
                    width: max-content;
                    margin: auto;
                }
            }
        }
    }
}
@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

body.contacto{
    animation-name: contacto;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 0;
    .texto{
        p{
            font-family: "Laila", serif;
            font-size: 23px;
            text-align: start;
            color: #1E1E1E;
            @media (max-width:992px) {
                font-size: 18px;
            }
        }
    }
    .columnas{
        margin-top: 50px;
        @media (max-width:1200px) {
            .row{
                flex-direction: column-reverse;
            }
        }
        .formulario{
            form{
                input{
                    margin-bottom: 20px;
                    width: 100%;
                }
                textarea{
                    width: 100%;
                }
                input,textarea{
                    min-height: 40px;
                    padding-left: 15px;
                    border-radius: 5px;
                    border: 0px solid;
                    background-color: #D9D9D9;
                    font-family: "Laila", serif;
                    color: #1E1E1E;
                }
                .boton{
                    width: 20%;
                    margin: auto;
                    margin-top: 10px;
                    input{
                        padding: 0;
                        background-color: #6B6B6B;
                        color: #F9F9F9;
                        border: 0px solid transparent;
                        &:hover{
                            border: 2px solid #6B6B6B;
                            background-color: #E6E6E6;
                            color: #1E1E1E;
                        }
                    }
                }
            }
        }
        .textofinal{
            p{
                font-family: "Laila", serif;
                font-size: 23px;
                text-align: start;
                color: #1E1E1E;
                @media (max-width:992px) {
                    font-size: 18px;
                }
            }
        }
    }
}
@keyframes contacto {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		height: 100%;
	}
}